/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth !important;
}

/* Variables */
:root {
    --green-color: #73bf26;
    --light-green-color: #98db53;
    --orange-color: #e27126;
    --light-orange-color: #f6844b;
    --text-color: #1a1816;
    --bg-color: #faf9f7;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 0.3rem;
    background: var(--light-green-color);
}

::-webkit-scrollbar-thumb {
    width: 0.3rem;
    background: var(--green-color);
    border-radius: 5rem;
}

section {
    padding: 4.5rem 0 1.5rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    box-shadow: 0 8px 11px lightgrey;
    padding: 20px 100px;
    transition: 0.5s;
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile span {
    font-size: 13px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}

.logo .fa-solid {
    font-size: 27px;
    padding-bottom: 5px;
    color: var(--orange-color);
}

.navbar {
    display: flex;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.navbar a:hover,
.navbar .home-active {
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}

.home-text {
    padding-top: 250px;
    padding-left: 200px;
}

.home-text span {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--green-color);
}

.home-text h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.6rem 1rem;
    background: var(--green-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 00.5rem;
    width: fit-content;
}

.fa-arrow-right {
    margin: auto;
}

.btn:hover {
    background: var(--orange-color);
    transition: 0.2s ease;
}

.container {
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container img {
    width: 400px;
    position: absolute;
    bottom: -500px;
    right: 200px;
}

.swiper-pagination-bullet-active {
    background: var(--light-green-color) !important;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.heading span {
    color: var(--green-color);
}

.categories {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    gap: 1.5rem;
    margin-top: 2rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.categories-container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

.categories-container .box img {
    margin-top: 1.5rem;
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
    transition: 0.4s ease;
}

.categories-container .box:hover img {
    transform: scale(1.1);
}

.categories-container .box:hover .see-items {
    display: block;
    transition: 0.2s all linear;
}

.categories-container .box h3 {
    padding: 6px;
    font-size: 20px;
}

.categories-container .box span {
    padding-bottom: 2rem;
    font-size: 14px;
}

.categories-container .box .see-items {
    background: var(--light-orange-color);
    color: var(--bg-color);
    font-size: 1rem;
    border-radius: 1.7rem;
    border: none;
    padding: 8px;
    position: absolute;
    align-items: center;
    bottom: -8%;
    display: none;
}

.box1 {
    background: #ffd8c658;
}

.box2 {
    background: #edffc7;
}

.box3 {
    background: #f8a7b950;
}

.box4 {
    background: #c9bffc6f;
}

.box5 {
    background: #fff9dac7;
}

.products {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.products-container .box {
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.5rem;
    position: relative;
}

.products-container .box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.products-container .box img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.products-container span {
    font-size: 15px;
}

.products-container .box h2 {
    font-size: 1rem;
    font-weight: 600;
}

.products-container .box .price {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--orange-color);
}

.products-container .box .fa-cart-shopping {
    position: absolute;
    padding: 10px 45px 7px 15px;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem 0 0.5rem 0;
    background: var(--green-color);
    color: var(--bg-color);
    font-size: 1.5rem;

}

.products-container .box .fa-cart-shopping:hover {
    background: var(--orange-color);
    transition: 0.2s all linear;
}

.products-container .box .fa-heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: var(--light-orange-color);
    cursor: pointer;
}

.products-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 0;
    background: var(--orange-color);
    color: var(--bg-color);
    padding: 4px 14px;
    clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.about {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.about span {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--green-color);
}

.about-text p {
    margin: 0.5rem 0 1rem;
}

.customer {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
}

.customer h2 {
    text-align: center;
    font-size: 1.6rem;
}

.customer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.customer-container .box {
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.5rem;
    border-bottom: 7px solid var(--green-color);
}

.customer-container .box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.customer-container .fa-solid {
    font-size: 16px;
    color: var(--light-orange-color);
}

.customer-container .box p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 7px;
}

.review-profile {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    column-gap: 0.5rem;
}

.review-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.review-profile h3 {
    font-size: 16px;
    font-weight: 400;
}

.footer {
    max-width: 1090px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box p {
    font-size: 16px;
    margin: 0.5rem 0 1rem;
}

.footer-box h2 {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer-box-mail h2 {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer-box-mail p {
    font-size: 16px;
    margin: 0.5rem 0 1rem;
}

.footer-box a {
    margin-top: 0.5rem;
    color: var(--text-color);
}

.footer-box a:hover {
    color: var(--orange-color);
    transition: 0.2s;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .fa-brands {
    color: var(--orange-color);
    font-size: 26px;
}

.footer-box-mail input {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    font-size: 1rem;
    padding: 4px 0;
}

.footer-box-mail a {
    padding: 7px 10px;
    background: var(--orange-color);
    color: var(--bg-color);
    border-radius: 2px;
}

.footer-box-mail a:hover {
    background: rgb(188, 66, 29);
    transition: 0.2s;
}

.copyright {
    text-align: center;
    padding: 20px;
}

/* Making Responsive */
@media (max-width: 1080px) {
    header {
        padding: 18px 60px;
    }

    .home-text {
        padding: 100px 100px;
    }

    .container img {
        right: 100px;
    }

    .categories {
        max-width: 900px;
    }

    .categories-container {
        max-width: 900px;
    }

    .products {
        max-width: 900px;
    }

    .about {
        max-width: 900px;
    }

    .customer {
        max-width: 900px;
    }

    .footer {
        padding: 20px 0px;
        margin-left: 110px;
        max-width: 900px;
    }
}

@media (max-width: 852px) {
    header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0 8px 11px lightgrey;
        transition: 0.2s all linear;
        text-align: left;
    }

    .navbar a {
        padding: 1rem;
        margin: 1rem;
        display: block;
    }

    .navbar a:hover,
    .navbar .home-active {
        border-radius: 00.5rem;
        color: var(--bg-color);
    }

    .navbar.active {
        top: 100%;
    }

    .home-text h1 {
        font-size: 25px;
    }

    .container img {
        width: 380px;
    }

    .categories {
        max-width: 600px;
    }

    .categories-container {
        max-width: 600px;
        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    }

    .products {
        max-width: 600px;
    }

    .about {
        max-width: 600px;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }

    .about-text {
        font-size: 16px;
    }

    .customer {
        max-width: 600px;
    }
}

@media (max-width: 546px) {
    .container img {
        right: 0;
        width: 350px;
        height: 950px;
        object-fit: contain;
    }

    .home-text {
        padding: 90px 65px 65px 50px;
    }

    #menu-icon {
        padding-right: 30px;
        font-size: 20px;
    }

    .categories {
        max-width: 480px;
    }
    .categories-container {
        max-width: 480px;
        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    }
    .products {
        max-width: 480px;
    }
    .products-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .about {
        max-width: 480px;
    }
    .customer {
        max-width: 480px;
    }
    .footer {
        margin-left: 40px;
    }
}

@media (max-width: 380px) {
    .logo {
        font-size: 15px;
    }
    .profile img {
        width: 30px;
        height: 30px;
    }
    .logo .fa-solid {
        font-size: 20px;
    }
    .profile span {
        display: none;
    }
    .home-text {
        padding-top: 70px;
    }
    #menu-icon {
        font-size: 15px;
        padding-right: 40px;
    }
    .container img {
        padding-right: 20px;
        width: 350px;
        height: 900px;
        object-fit: contain;
    }
    .categories {
        max-width: 320px;
    }
    .categories h1 {
        font-size: 16px;
    }
    .categories a {
        font-size: 14px;
    }
    .categories .btn {
        padding: 10px;
    }
    .categories-container {
        max-width: 320px;
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
    .categories-container .box h3 {
        font-size: 16px;
    }
    .categories-container .box span {
        font-size: 12px;
    }
    .products {
        max-width: 320px;
    }
    .products h1 {
        font-size: 16px;
    }
    .products a {
        font-size: 14px;
    }
    .products .btn {
        padding: 10px;
    }
    .products-container {
        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    }
    .about {
        max-width: 320px;
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    }
    .about .btn {
        padding: 10px;
    }
    .about a {
        font-size: 14px;
    }
    .customer {
        max-width: 320px;
    }
    .footer {
        font-size: 14px;
        margin-left: 30px;
    }
}