/* PC */

/* Text Fonts */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Components */
@import url('components/scroll-bar.css');
@import url('components/footer.css');

/* Global Styles */
* {
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2em;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Color Variables */
:root {
    --green-color: #73bf26;
    --light-green-color: #98db53;
    --orange-color: #e27126;
    --light-orange-color: #f6844b;
    --text-color: #1a1816;
    --bg-color: #faf9f7;
    --header-height: 5em;
}

/* Header Layout */
.header {
    height: var(--header-height);
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo i {
    color: var(--green-color);
    font-size: 1.3em;
}

/* Navigation */
.nav-pc .nav-pc-list {
    display: flex;
    gap: 30px;
}

.nav-pc-list a {
    padding: 7px 15px;
}

.nav-pc-list a:hover,
.header a.active {
    background: var(--orange-color);
    color: var(--bg-color);
    border-radius: 2em;
    transition: ease 0.5s;
}

/* Profile */
.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.profile-info {
    text-align: right;
}

.profile-name {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}

.profile-rank {
    font-size: 0.7rem;
    font-weight: 250;
    color: rgb(204, 171, 88);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.avatar {
    position: relative;
}

.avatar img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
    box-shadow: 0 4px 6px rgba(162, 83, 4, 0.05);
    object-fit: cover;
}


.status-online {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 15px;
    height: 15px;
    background-color: var(--green-color);
    border: 2px solid var(--bg-color);
    border-radius: 50%;
}

/* Mobile Menu */
.nav-bar-btn {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    padding: 5px;
}

.nav-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 150;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    background-color: var(--bg-color);
    z-index: 200;
    transform: translateX(-100%);
    transition: linear 0.2s;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

/* Logic Checkbox Hack */
#nav-btn-input:checked~.nav-mobile {
    transform: translateX(0);
}

#nav-btn-input:checked~.nav-overlay {
    display: block;
    opacity: 1;
}

.nav-mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 15px;
    width: 100%;
}

.nav-mobile-close {
    font-size: 1.5rem;
    color: #9ca3af;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s;
}

.nav-mobile-close:hover {
    color: #ef4444;
}

.nav-mobile-list li a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px;
    font-weight: 400;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: 0.2s ease;
}

.nav-mobile-list li a i {
    width: 20px;
    text-align: center;
}

.nav-mobile-list li a:hover {
    color: #ecfdf5;
    background-color: var(--orange-color);
}

.logout-btn {
    margin-top: auto;
    width: 100%;
    padding: 12px;
    background-color: #fee2e2;
    color: #ef4444;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: #ef4444;
    color: white;
}


/* Home Slide Display */
.container {
    position: relative;
    width: 100%;
    min-height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    position: fixed;
    display: inline-flex;
    width: 500px;
    top: 16%;
    left: 50%;
}

/* Slide Background */
.swiper-slide-active {
    background: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-pagination-bullet-active {
    background: var(--light-green-color) !important;
}

/* Home Text */
.home-text {
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 1.3em;
}

.home-text h1 {
    margin-bottom: 1em;
}

/* Button */
.btn {
    padding: 0.6em 1em;
    background: var(--green-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 00.5em;
    width: fit-content;
}

.fa-arrow-right {
    margin: auto;
}

.btn:hover {
    background: var(--orange-color);
    transition: 0.2s ease;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    font-size: 1.6em;
    font-weight: 600;
}

.heading span {
    color: var(--green-color);
}

/* Categories */
.categories {
    max-width: 1090px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    gap: 1.5em;
    margin-top: 2em;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.categories-container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
}

.categories-container .box img {
    margin-top: 1.5em;
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
    transition: 0.4s ease;
}

.categories-container .box:hover img {
    transform: scale(1.1);
}

.categories-container .box:hover .see-items {
    display: block;
    transition: 0.2s all linear;
}

.categories-container .box h3 {
    padding: 6px;
    font-size: 20px;
}

.categories-container .box span {
    padding-bottom: 2em;
    font-size: 14px;
}

.categories-container .box .see-items {
    background: var(--light-orange-color);
    color: var(--bg-color);
    font-size: 1em;
    border-radius: 1.7em;
    border: none;
    padding: 8px;
    position: absolute;
    align-items: center;
    bottom: -8%;
    display: none;
}

.box1 {
    background: #ffd8c658;
}

.box2 {
    background: #edffc7;
}

.box3 {
    background: #f8a7b950;
}

.box4 {
    background: #c9bffc6f;
}

.box5 {
    background: #fff9dac7;
}

/* Products */
.products {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1.5em;
    margin-top: 2em;
}

.products-container .box {
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.5em;
    position: relative;
}

.products-container .box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.products-container .box img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.products-container span {
    font-size: 15px;
}

.products-container .box h2 {
    font-size: 1em;
    font-weight: 600;
}

.products-container .box .price {
    font-size: 1em;
    margin-top: 0.5em;
    color: var(--orange-color);
}

.products-container .box .fa-cart-shopping {
    position: absolute;
    padding: 10px 45px 7px 15px;
    right: 0;
    bottom: 0;
    border-radius: 0.5em 0 0.5em 0;
    background: var(--green-color);
    color: var(--bg-color);
    font-size: 1.5em;

}

.products-container .box .fa-cart-shopping:hover {
    background: var(--orange-color);
    transition: 0.2s all linear;
}

.products-container .box .fa-heart {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 20px;
    color: var(--light-orange-color);
    cursor: pointer;

}

.products-container .box .discount {
    position: absolute;
    top: 1em;
    left: 0;
    background: var(--orange-color);
    color: var(--bg-color);
    padding: 4px 14px;
    clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

/* About */
.about {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21em, auto));
    align-items: center;
    gap: 1.5em;
}

.about img {
    width: 400px;
    height: 420px;
}

.about span {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--green-color);
}

.about-text p {
    margin: 0.5em 0 1em;
}

.customer {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
}

.customer h2 {
    text-align: center;
    font-size: 1.6em;
}

.customer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    align-items: center;
    gap: 1.5em;
    margin-top: 2em;
}

.customer-container .box {
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.5em;
    border-bottom: 7px solid var(--green-color);
}

.customer-container .box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.customer-container .fa-solid {
    font-size: 16px;
    color: var(--light-orange-color);
}

.customer-container .box p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 7px;
}

.review-profile {
    display: flex;
    align-items: center;
    margin-top: 1em;
    column-gap: 0.5em;
}

.review-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.review-profile h3 {
    font-size: 16px;
    font-weight: 400;
}

/* Footer Layout */
.footer-container {
    position: relative;
    left: 25%;
    display: inline-flex;
    gap: 7em;
}

.footer-heading {
    margin-bottom: 0.8em;
}
.footer-heading i {
    display: none;
}
.footer-list li {
    margin-top: 0.5em;
}