/* 16px = 1em */

/* Mobile & Tablet breakpoint: width < 1024px */
@media only screen and (max-width: 63.9375em) {}

/* Mobile breakpoint: width < 740px */
@media only screen and (max-width: 46.1875em) {

    /* Header */
    header {
        padding-inline: 0;
    }

    #menu-icon {
        display: block;
        position: fixed;
        top: 1em;
        left: 1em;
    }

    .home-logo {
        margin-left: 7em;
        padding-right: 0.5em;
    }

    .nav__pc {
        display: none;
    }

    .nav__overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn linear 0.2s;
    }

    /* Nav List - Mobile */
    .nav__mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20em;
        max-width: 100%;
        background: var(--bg-color);
        transform: translateX(-100%);
        transition: transform linear 0.2s;
    }

    .nav__mobile-list {
        margin-top: 5em;
    }

    .nav__mobile-list a {
        color: black;
        padding: 0.7em 0.5em;
    }

    .navbar a.active {
        border-radius: 0;
    }

    .nav__mobile-link {
        display: block;
    }

    .nav__mobile-link i {
        margin-right: 1em;
    }

    .nav__mobile-close {
        position: absolute;
        font-size: 1.5em;
        top: 1.25em;
        right: 1.25em;
    }

    .nav-btn-input__check:checked~.nav__overlay {
        display: block;
    }

    .nav-btn-input__check:checked~.nav__mobile {
        transform: translateX(0%);
    }

    .nav__mobile-link:hover {
        background: var(--orange-color);
        color: var(--bg-color);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: linear 0.2s;
    }

    .profile {
        margin-right: 1em;
    }

    .profile span {
        display: none;
    }

    /* Home Text */
    .home-text {
        top: 6em;
        left: 3.8em;
        text-align: center;
    }

    .home-text span {
        font-size: 1em;
    }

    .home-text h1 {
        font-size: 1.8em;
    }

    .home-text .btn {
        margin-left: 3em;
    }

    /* Home Slide */
    .container img {
        top: 20em;
        right: 2em;
        width: 300px;
    }

    /* Categories */
    .categories,
    .categories-container {
        margin-left: 1em;
        margin-right: 1em;
    }

    .categories-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2em;
    }

    /* Products */
    .products {
        margin-left: 1em;
        margin-right: 1em;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2em;
    }
    .products-container .box img {
        width: 100%;
        height: 120px;
    }

    .products-container .box .fa-cart-shopping {
         padding: 10px 35px 7px 15px;
        font-size: 1em;
    }

    /* About */ 
    .about {
        margin-left: 1em;
        margin-right: 1em;
        grid-template-columns: repeat(auto-fit, minmax(1em, auto));
    }
    .about img {
        width: 200px;
        height: 220px;
    }

    /* Customer */
    .customer {
        margin-left: 1em;
        margin-right: 1em;
    } 


    /* Footer */
    .footer-col.active .footer-list {
        max-height: 300px;
        padding-bottom: 15px;
    }

    .footer-col {
        border-bottom: 1px solid #333;
        margin-bottom: 8px;
    }

    .footer-heading {
        font-size: 15px;
        letter-spacing: 1px;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
    }

    .icon {
        font-size: 12px;
        transition: transform 0.3s ease;
        color: #fff;
    }

    /* The List (Hidden by default on Mobile) */
    .footer-list {
        list-style: none;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease-out, padding 0.3s ease;
    }

    .footer-list li {
        margin-bottom: 12px;
    }

    .footer-list a {
        color: #b0b0b0;
        text-decoration: none;
        transition: color 0.2s;
        display: block;
    }

    .footer-list a:hover {
        color: #fff;
        text-decoration: underline;
    }

    .footer-col.active .icon {
        color: #fff;
    }
}

/* Tablet breakpoint: width >= 740px and width < 1024px */
@media only sceen and (min-width: 46.25em) and (max-width: 63.9375em) {

    /* Header */
    .logo,
    .logo .fa-solid {
        font-size: 1.3rem;
    }

    /* Footer  Responsive for tablet */
    .footer-container {
        margin: 0 40px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .footer-col {
        border: none !important;
        margin-bottom: 0;
    }

    .footer-heading {
        padding: 0 0 20px 0;
        border: none;
    }

    .icon {
        display: none !important;
    }

    /* Show list on tablet -> desktop */
    .footer-list {
        max-height: none !important;
        overflow: visible;
        padding-left: 0;
    }

}

/* PC breakpoint: width >= 1024px */
@media only screen and (min-width: 64em) {

    .nav__overlay,
    .nav__mobile {
        display: none;
    }
}